@import "tailwindcss";

/* =========================
   Root Variables
========================= */
:root {
  --white: #ffffff;
  --light-blue: #f0f5f7;
  --blue: #5286ed;
  --blue-2: #3071F1;
  --dark-gray: #41474e;
  --green: #66B877;
  --gray: #b3b3b3;
  --primaty-bg: #eff4f8;
}

body {
  height: 100vh;
  background-color: var(--primaty-bg);
  background-image: url('/src/assets/bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.container {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}

/* =========================
   Typography
========================= */
.title-1 {
  font-size: 64px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  color: var(--dark-gray);
}

.title-2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--dark-gray);
}

.title-3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--dark-gray);
}

.title-4 {
  font-size: 16px;
  color: var(--dark-gray);
  line-height: 100%;
  letter-spacing: 0;
}

.title-5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--dark-gray);
}

.title-6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--dark-gray);
}

.title-7 {
  font-size: 12px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--blue);
}

